@font-face {
  font-family: "iconfont"; /* Project id 4111920 */
  src: url('iconfont.woff2?t=1686217181372') format('woff2'),
       url('iconfont.woff?t=1686217181372') format('woff'),
       url('iconfont.ttf?t=1686217181372') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-saoma:before {
  content: "\e749";
}

